* {
    font-family: 'Roboto Condensed', sans-serif;
}

.multiselect {
    position: relative;
    display: inline-block;
  }

  .multiselect-selected {
    border: 1px solid #ccc;
    padding: 5px;
    min-width: 150px;
    cursor: pointer;
  }

  .multiselect-selected:hover {
    background-color: #f5f5f5;
  }

  .multiselect-list {
    position: absolute;
    z-index: 1;
    display: none;
    border: 1px solid #ccc;
    background-color: #fff;
    max-height: 150px;
    overflow-y: auto;
  }

  .multiselect-list-item {
    padding: 5px;
    cursor: pointer;
  }

  .multiselect-list-item:hover {
    background-color: #f5f5f5;
  }

